<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">

                <select class="form-control" @change="filterByProject($event)">
                    <option value="">Filter by Project</option>
                    <option :key="project.id" v-for="project in projects" :value="project.id">{{ project.name }}
                    </option>
                </select>
                <br>

                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Task Name</th>
                        <th>Project</th>
                        <th>Date Created</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <draggable v-model="tasks" tag="tbody" @end="onEnd">
                        <tr v-for="task in tasks" :key="task.id">
                            <td>{{ task.name }}</td>
                            <td>{{ task.project.name }}</td>
                            <td>{{ task.created_at }}</td>
                            <td>
                                <p>
                                    <a :href="'/dashboard/tasks/edit/' + task.id">Edit</a>&nbsp;
                                    <a @click="trash(task)"> Delete</a>
                                </p>
                            </td>
                        </tr>
                    </draggable>
                </table>


            </div>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';

    export default {
        components: {
            draggable,
        },
        data() {
            return {
                tasks: [],
                projects: [],
                initialTasks: []
            }
        },
        methods: {
            getTasks() {
                axios.get('/api/tasks').then((response) => {
                    this.tasks = response.data;
                    this.initialTasks = response.data;
                }, (error) => {
                    this.tasks = [];
                    console.log(error)
                });
            },

            getProjects() {
                axios.get('/api/projects').then((response) => {
                    this.projects = response.data;
                }, (error) => {
                    console.log('Could not retrieve projects')
                })
            },

            updatePriority(id, task) {
                axios.post('/api/tasks/update/' + id, task).then((response) => {
                    console.log('Priority updated successfully')
                }, (error) => {
                    console.log('Priority could not be updated')
                })
            },

            onEnd(event) {
                this.tasks.forEach((task, index) => {
                    this.updatePriority(task.id, {'priority' : index + 1})
                });
            },

            filterByProject(event) {
                this.tasks = this.initialTasks;

                if (event.target.value === "") {
                    return;
                }
                this.tasks = this.tasks.filter(task => {
                    return parseInt(task.project_id) === parseInt(event.target.value);
                })
            },

            trash(task) {
                if (confirm('Are you sure you wat to delete')) {
                    axios.delete('/api/tasks/delete/' + task.id).then((response) => {
                        let index = this.tasks.indexOf(task);

                        this.tasks.splice(index, 1);

                        console.log('Task deleted successfully')
                    }, (error) => {
                        console.log('Task could not be deleted')
                    });
                }
            }
        },
        mounted() {
            this.getTasks();
            this.getProjects();
        }
    }
</script>
